{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}

	{% if user.is_authenticated %}
		<p><a href="{% url 'projects_upload' %}"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
	{% endif %}

	<div id="project_grid">
		<h1>Projects</h1>
		<br />

		{% for project in project_list %}
			<div class="project_entry">
				<div class="project_image"><a href="{{ project.site_url }}"><img src="{{ media }}{{ project.image }}" /></a></div>
			<div class="project_name"><a href="{{ project.site_url }}"><p><b>{{ project.site_name }}</b></p></a></div>
			<div class="project_git"><p><a href="{{ project.site_git }}">Git Hub</a></p></div>
			<div class="languages"><p>{{ project.languages }}</p></div>
			</div>
		{% endfor %}
	</div>
{% endblock %}